{% extends "base.html" %}

{% block page_title %}
    <h2>{{ blog.title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ blog.created_at.date }} | Tags:
        {% for tag in blog.tags.all %}
            <a href="{% url 'blog_tag' tag.name %}">
                {{ tag.name }}
            </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </small>

    {% if blog.full_image %}
        <div class="blog-image">
            <img src="{{ blog.full_image.url }}" alt="Image for {{ blog.title }}">
        </div>
    {% endif %}

    <p>{{ blog.content | linebreaks }}</p>
{% endblock page_content %}
