{% extends "base.html" %}

{% block page_title %}
    <h2>Search</h2>
{% endblock page_title %}

{% block page_content %}
    {% if query %}
        <h1>Posts containing "{{ query }}"</h1>
        <h3>
            Found {{ results.count }} result{{ results.count | pluralize }}
        </h3>
    
        {% include "blog/blogs_thumbnails.html" with blogs=results %}

        <p><a href="{% url "search" %}">Search again</a></p>
        
    {% else %}

        <h1>Search for articles</h1>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>

    {% endif %}
{% endblock page_content %}
