{% extends "base.html" %}

{% block page_title %}
    <h2>Search</h2>
{% endblock page_title %}

{% block page_content %}
    {% if query %}
        <h1>Posts containing "{{ query }}"</h1>
        <h3>
            Found {{ results.count }} result{{ results.count | pluralize }}
        </h3>
    
        {% for blog in results %}
            <h3><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></h3>
            <small>
                {{ blog.created_at.date }} | Tags:
                {% for tag in blog.tags.all %}
                    <a href="{% url 'blog_tag' tag.name %}">
                        {{ tag.name }}
                    </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </small>
            <p>{{ blog.content | slice:":400" }}...</p>
        {% endfor %}

        <p><a href="{% url "search" %}">Search again</a></p>
        
    {% else %}

        <h1>Search for articles</h1>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>

    {% endif %}
{% endblock page_content %}
